.google-data-map-container {
	margin-bottom: 1rem;
	.data-common-header {
		position: absolute;
		z-index: 5;
		background: rgba(255, 255,255,.5);
		background: #FFFFFF;
		box-shadow: 0px 2px 4px rgba(27, 25, 31, .1);
		border-radius: 4px;
		top: $space-base;
		left: $space-base;
		padding: 0 $space-sm;
	}
	.google-data-map {
		min-height: 75vh;
		button {
			top: 0 !important;
			right: 0 !important;
		}
		.page-field {
			+.page-field {
				margin-top: 0.75rem;
			}
		}
		dl {
			dt {
				font-weight: $font-weight-medium;
				color: $color-neutral-dark;
				margin-bottom: $space-xs;
			}
			dd {
				color: $color-general-black;
			}
		}
	}
}
