@mixin button-solid($bg, $text) {
	background: $bg;
	color: $text;

	&:hover {
		background: darken($bg, 5%);
		color: $text;
		transition: all 0.3s ease;
	}
}

.n-form,
.nabu-form-component {
	.n-form-component {
		min-width: initial;
		margin-bottom: $space-base;

		.n-form-label-wrapper {
			margin-bottom: 0;
			
			.n-form-label {
				font-size: $font-size-xsmall;	
				font-weight: $font-weight-semi-bold;
				line-height: 1.8;
				color: $color-neutral-darkest !important;
				margin: 0;
				padding: 0 !important;
			}
			
			.n-info {
				.n-info-content {
					font-size: $font-size-xsmall;
					right: 0;
					padding: .5rem 1rem;
				}
			}
		}
		
		.n-form-input-wrapper {
			.field {
				color: $color-neutral-black;
				font-size: $font-size-small;
				line-height: 20px;
				background-color: $color-neutral-lightest;
				border: 1px solid $color-neutral-base;
				outline: none !important;
				border-radius: 3px;
				height: 2.5rem;
				
				&:focus-visible,
				&:focus {
					border: 1px solid $color-neutral-darker;
				}
				&.n-form-invalid {
					color: $color-neutral-black;
					border: 1px solid $color-danger-base;
				}
				&.n-form-valid {
					border: 1px solid $color-neutral-base;
				}
			}

			text-area.field {
				min-height: 12.5rem;
			}
			
			.n-form-suffix {
				height: auto;
			    top: 1px;
			    bottom: 1px;
			    left: none;
			    right: 1px;
			    width: auto;
			    line-height: 1;
			    padding: 0.5rem 1rem;
			    transform: translateX(0);	
				.icon {

				}
				
				&.n-icon {
				    height: auto;
				    top: 1px;
				    bottom: 1px;
				    left: none;
				    right: 1px;
				    width: auto;
				    line-height: 1;
				    padding: 0.5rem 1rem;
				    transform: translateX(0);
				}
			}
			
			.n-form-date .n-form-date-icon:before {
				font-size: $font-size-small;
			}
		}
		
		.n-messages {
			.n-message {
				padding: 0;
				margin: 0.25rem 0;
			}
		}
	
		.n-form-component-after {
			margin: 0;
			margin-top: .125rem;
		}
	}

	.n-form-radio, .n-form-checkbox {
		label {
			padding-left: 1.75rem !important;
			min-height: 1.25rem;
			line-height: 1.5;
		
			&:before {
				margin-left: 0;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 3px;
				box-shadow: 0 0 0 1px $color-neutral-base inset;
			}
			
			&:after {
				margin-left: 0.125rem;
			}
		}
	}
	
	.n-form-switch.n-form-checkbox {
		label.n-form-label {
			padding-left: 4rem !important;
			line-height: 1.2;
			display: flex;
			align-items: center;
			span {
				margin-top: .25rem;
			}
			&:before,
			&:after {
				border-radius: 100px;
				@include media('<=small') {
					transform: scale(.8);
				}
			}
			&:after {
				@include media('<=small') {
					left: 1.25rem !important;
				}
			}
			&:before {
				box-shadow: inset 0 0 0 1px $color-accent-light !important;
			}
		}
	}
	
	.n-form-text-number {
		max-width: 20rem;
	}
	
	.n-form-combo {
		max-width: 20rem;

		.n-input-combo {
			.n-input-combo-input-container {
				.n-input-combo-input {
					font-size: $font-size-small;
					border: 1px solid $color-neutral-base;
					border-radius: 4px;
					height: 2.5rem;
					line-height: 2.5rem;
					cursor: pointer;
					
					&:focus-visible,
					&:focus {
						border: 1px solid $color-neutral-darker;
					}
				}
				.n-icon {
					color: $color-secondary-base;
					font-size: $font-size-tiny;
					top: 1rem;
					font-weight: $font-weight;
				}
				.n-input-combo-dropdown {
					top: 100%;
					border-radius: 3px;
					
					.n-input-combo-dropdown-value {
						background-color: $color-neutral-white;
						color: $color-neutral-black;
						
						&.pondering {
							background-color: $color-neutral-white;
							color: $color-neutral-black;
						}
						
						&:hover {
							background-color: $color-neutral-lightest;
						}
						
						&.active {
							background-color: $color-neutral-lightest;
							color: $color-neutral-black;
							
							&::before {
								content: "\2713";
								font-size: $font-size-base;
								position: absolute;
								right: .25rem;
							}
						}
					}
				}
			}
		}
	}
	
	.n-form-date {
		.n-form-date-input + .n-input-date {
			margin-top: -1rem;
		}
		
		.n-form-date-icon:before {
			font-size: $font-size-small !important;
		}
		
		.n-input-date {
			right: 0 !important;
			font-family: $font-family;
			max-width: 20rem !important;
			
			table {
				.n-input-combo .n-input-combo-input-container input {
					height: 2rem !important;
					line-height: 2rem !important;
				}
				thead > tr {
					th {
						font-size: $font-size-tiny;
						font-weight: $font-weight-medium;
					}
				}
				
				thead.caption {
					.month {
						font-size: $font-size-base !important;	
					}
				}
				
				tbody > tr {
					td {
						padding: 1rem 0 !important;
						a {
							color: $color-general-black !important;
							text-decoration: none;
						}
					}
					td.n-input-date-today, 
					span.n-input-date-today {
						background-color: $color-secondary-light !important; 
					}
					td.n-input-date-today a,
					span.n-input-date-today a {
						color: $color-general-black !important; 
					}
					td.n-input-date-selected, 
					.span.n-input-date-selected {
						background-color: $color-primary-light !important; 
					}
				}
			}
		}
	}

	.dynamic-input {
		display: flex;
		margin-bottom: 0;
		@include media('<=small') {
			flex-direction: column;
			margin-bottom: 1rem;
		}

		.dynamic-input-contents {
			display: flex;
			@include media('<=small') {
				flex-direction: column;
				margin-bottom: 1rem;
			}
			
			.dynamic-input-iteration {
				margin-bottom: 0.75rem;
				background-color: transparent;
				border-radius: 3px;
				margin-right: 1rem;
				padding: 0;
				position: relative;

				> span.fa {
					position: absolute;
					font-size: $font-size-base;
					top: .5rem;
					right: .5rem;
				}
			}
		}
		.dynamic-input-actions {
			button.fa-plus {
				&:before {
					content: "\f067";
					font-family: $font-icon-family;
					margin-right: 1rem;
				}
			}
		}
	}
	
}

.n-form-qr {
	position: relative;
	.n-form-qr-container {
		text-align: center; 

		.n-form-canvas-container {
			position: relative;
			display: inline-block;
			width: 100%;
		}

		.overlay {
			border: dashed 1px $color-neutral-base;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			.n-form-qr-retry {
				padding: 0 1rem;
				@include button-solid($color-primary-base, $color-primary-lightest);
			}
		}
	}

	.n-form-qr-code {
		text-align: left;
		width: 100% !important;
		min-width: 250px;
		height: auto !important;
		
		img {
			max-height: 100%;
			max-width: 100%;
		}
		.actions {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.n-form-qr-retry {
				padding: 0 1rem;
				@include button-solid($color-primary-lightest, $color-primary-base);
			}
		}
	}

	.n-form-text {
		margin-top: 1rem;
	}

	&.n-form-qr-scanned {
		.n-form-qr-code {
			border: dashed 1px $color-neutral-base;

			.actions {
				top: 2rem;
				left: 2rem;
				transform: none;
				
				button {
					@include button-solid($color-primary-lightest, $color-secondary-base);
				}
			}
		}
	}
}

.n-form.filter {
	.n-form-component {
		.n-form-input-wrapper {
			.field {
				font-size: $font-size-xsmall;
			}
		}
	}
	.n-form-combo {
		.n-input-combo {
			.n-input-combo-input-container {
				.n-input-combo-input {
					font-size: $font-size-xsmall;
				}
			}
		}
		.n-input-combo-dropdown {
			.n-input-combo-dropdown-value {
				font-size: $font-size-xsmall;
			}
		}
	}
}

.n-form-section.row {
	align-items: flex-start;
	justify-content: flex-start;
}

.has-title {
	h3 {
		font-family: $font-family;
		font-size: $font-size-large;
		margin-bottom: 1.5rem;
		font-weight: $font-weight-medium;
	}
}

.page-form,
.data-table-list,
.data-cards {
	h2 {
		font-family: $font-family;
		font-size: $font-size-large;
		color: $color-general-black;
		margin-bottom: 1.5rem;
		font-weight: $font-weight-medium;
	}
	
	.global-actions {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding-top: 1rem;
	}
}
