.n-prompt,
.page-prompt {
	background: rgba(87, 107, 117, 0.8);
	.n-prompt-content,
	.n-prompt-container {
		color: $color-general-black;
		background: $color-general-white;
		border-radius: 8px;
		
		.n-confirm .n-confirm-content {
		    padding: 2rem 0.5rem;
		}
	}
	&.full-width,
	&.large {
		.n-prompt-content,
		.n-prompt-container {
			width: 100%;
			max-width: 75rem;
		}
	}
}
