
.icon.fa {
	color: $color-accent-base;
	font-family: $font-icon-family;
}

.fa-regular,
.far,
.fab {
	font-weight: $font-weight !important;
}

.fa-light,
.fal {
	font-weight: $font-weight-light !important;
}

.fa-solid,
.fas {
	font-weight: $font-weight-bold !important;
}
