$button-font-size: $font-size-small;
$button-font-weight: $font-weight-semi-bold;
$button-line-height: 1 !important;
$button-height: 2.25rem !important;
$button-border-radius: 4px;
$button-color-primary: $color-accent-base;
$button-margin: 1rem;

@mixin button-solid($bg, $text) {
	background: $bg;
	color: $text;

	&:hover {
		background: darken($bg, 5%);
		color: $text;
		transition: all 0.3s ease;
	}
}

@mixin button-outline($color) {
	color: $color;
	box-shadow: $color 0px 0px 0px 1px inset;
	background: transparent;

	&:hover {
		background: lighten($color, 80%);
		color: $color;
		transition: all 0.3s ease;
	}
}

@mixin button-bg($color) {
	background: $color;
	color: $color-general-white;
	border: 1px solid $color-general-white;
	
	&:hover {
		background: darken($color, 5%);
		transition: all 0.3s ease;
	}
}

button, .button, .p-button {
	font-weight: $button-font-weight;
	height: $button-height;
	margin: 0 !important;
	margin-bottom: $button-margin;
	line-height: $button-line-height;
	cursor: pointer;
	border-radius: $button-border-radius;
	font-size: $font-size-xsmall;

	&:hover {
		* {
			cursor: pointer;
		}
		transform: translate(0, 0) !important;
	}
	
	&:disabled {
		cursor: none;
		pointer-events: none;
	}

	&.primary {
		@include button-solid($color-primary-base, $color-primary-lightest);
	}

	&.primary-outline {
		@include button-outline($color-primary-base);
	}
	
	&.primary-inverse {
		@include button-solid($color-primary-lightest, $color-primary-base);
	}
	
	&.secondary {
		@include button-solid($color-secondary-base, $color-secondary-lightest);
	}

	&.secondary-outline {
		@include button-outline($color-secondary-base);
	}
	
	&.secondary-inverse {
		@include button-solid($color-secondary-lightest, $color-secondary-base);
	}

	&.inline {
		margin: 0;
	}
	
	&.has-icon {
		height: $button-height;
		padding: 0 1.5rem !important;
		font-weight: $button-font-weight;
		line-height: $button-line-height;

		.icon, .fa {
			margin-right: $space-sm;
		}
	}
	
	&.has-icon-right {
		.icon, .fa {
			margin-right: 0;
			margin-left: $space-sm;
		}
	}
	
	&.is-icon,
	&.icon-only {
		.icon {
			left: 50%;
			margin: 0;
    		transform: translate(-50%, -50%);
		}
	}
}
