$button-font-size: $font-size-small;
$button-font-weight: $font-weight-emphasis;
$button-line-height: 1 !important;
$button-height: 2.25rem !important;
$button-border-radius: 3px;
$button-margin: 1rem;

@mixin button-base {
	appearance: none;
	font-family: $font-family;
	font-weight: $button-font-weight !important;
	height: $button-height;
	margin: 0 !important;
	margin-bottom: $button-margin;
	line-height: $button-line-height;
	cursor: pointer;
	border-radius: $button-border-radius;
	font-size: $button-font-size !important;
	border: none;
	padding: 0 1.5rem;

	&:hover {
		* {
			cursor: pointer;
		}
		transform: translate(0, 0) !important;
	}
	&:disabled {
		cursor: none;
		pointer-events: none;
	}
	.icon {
		margin-right: $space-sm;
		font-size: $font-size-base;
		color: inherit !important;
		position: relative;
		transform: none;
		top: auto;
		left: auto;
	}
}

@mixin button-solid($bg, $text) {
	background: $bg;
	color: $text;

	&:hover {
		background: darken($bg, 5%);
		color: $text;
		transition: all 0.3s ease;
	}
}

@mixin button-outline($color) {
	color: $color;
	box-shadow: $color 0px 0px 0px 1px inset;
	background: transparent;

	&:hover {
		background: lighten($color, 80%);
		color: $color;
		transition: all 0.3s ease;
	}
}

button, .p-button, .button, .n-form-qr-retry, %button {
	@include button-base;
	
	&.primary {
		@include button-solid($color-primary-base, $color-primary-lightest);
	}

	&.primary-outline {
		@include button-outline($color-primary-base);
	}
	
	&.primary-inverse {
		@include button-solid($color-primary-lightest, $color-primary-base);
	}
	
	&.secondary {
		@include button-solid($color-secondary-base, $color-general-white);
	}

	&.secondary-outline {
		@include button-outline($color-secondary-base);
	}
	
	&.secondary-inverse {
		@include button-solid($color-neutral-lightest, $color-secondary-base);
	}
	
	&.tertiary {
		@include button-solid($color-tertiary-base, $color-general-white);
	}
	
	&.tertiary-outline {
		@include button-outline($color-tertiary-base);
	}
	
	&.tertiary-inverse {
		@include button-solid($color-neutral-lightest, $color-tertiary-base);
	}

	&.inline {
		margin: 0;
	}

	&.rounded {
		border-radius: 100px;
	}
	
	&.has-icon,
	&.has-icon-right {
		height: $button-height;
		padding: 0 1.5rem !important;
		font-weight: $button-font-weight;
		line-height: $button-line-height;

		.icon, .fa {
			margin-right: $space-sm;
			font-size: $font-size-base;
			color: inherit !important;
			position: relative;
			transform: none;
			top: auto;
			left: auto;
		}
	}
	
	&.has-icon-right {
		flex-direction: row-reverse;
		
		.icon, .fa {
			margin-right: 0;
			margin-left: $space-sm;
		}
	}
	
	&.is-icon,
	&.icon-only {
		padding: 0;
		width: 2.5rem;
		height: 2.5rem !important;
		
		.icon {
			left: 50%;
			top: 50%;
			margin: 0;
    		transform: translate(-50%, -50%);
			font-size: $font-size-base;
			color: inherit !important;
		}
	}
}
