// SKELETON FIXED HEADER
/// 1. 	PAGE-MAIN-VIEW
/// 1A.	PAGE-TOP-HEADER
/// 1B.	PAGE-CONTENT

$header-height: 68px !default;
$header-height--small: 58px !default;

.skeleton-fixed-header {
	.page-main-view {
		.page-top-header {
			min-height: $header-height;
			height: $header-height;
			border-bottom: 1px solid $color-neutral-light;
			position: fixed;
			top: 0;
			background: $color-general-white;
			right: 0;
			left: 0;
			z-index: 10;

			@include media('<=small') {
				min-height: $header-height--small;
				height: $header-height--small;
			}
			
			.page-heading {
				font-size: $font-size-large;
				font-weight: $font-weight-semi-bold;
				display: flex;
				color: $color-accent-base;
				align-items: center;

				@include media('<=small') {
					display: none;
				}
			}
			
			.page-nav,
			.page-logo,
			.page-heading,
			.page-back-button {
				flex-grow: unset!important;
				flex-basis: auto;
			}
			
			.page-logo {
				cursor: pointer;
			}
		}
		
		.page-content {
			height: 100%;
			width: 100%;
			background: $color-neutral-lightest;
			min-height: 100vh;
			flex-grow: unset !important;
			flex-basis: auto !important;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			padding-bottom: 3rem;
			padding-top: 6.5rem;

			@include media('<=small') {
				padding-top: 5rem;
				padding-left: 1rem;
				padding-right: 1rem;
			}
			
			&.full-width {
				padding-top: 68px;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
		
				@include media('<=small') {
					padding-top: 58px;
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
