// SKELETON SIDEBAR
/// 1.	PAGE-SIDEBAR
/// 1A. PAGE-SIDEBAR-HEADER
/// 1B. PAGE-SIDEBAR-NAV

/// 2. 	PAGE-MAIN-VIEW
/// 2A.	PAGE-TOP-HEADER
/// 2B.	PAGE-CONTENT

.skeleton-sidebar {
	/// 1.	PAGE-SIDEBAR
	.page-sidebar {
		background: $color-neutral-lightest;
		width: 260px;
		max-width: 260px;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		transition: width .45s ease, max-width .45s ease;
		z-index: 20;
		
		.page-actions.vertical-menu .page-action-entry span:not(.icon),
		.page-sidebar-title,
		.page-sidebar-log {
			white-space: nowrap;
			opacity: 1;
			height: auto;
			width: auto;
			transition: opacity .45s ease;
		}
	}

	/// 1A. PAGE-SIDEBAR-HEADER
	.page-sidebar-header {
		min-height: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $color-neutral-light;
	
		@include media('<=small') {
			min-height: 60px;
			height: 60px;
		}
		
		.page-rows {
			flex: 1;
		}

		.page-sidebar-logo {
			flex-grow: unset !important;

			.page-image {
				text-align: left;
			}
		}
		
		.page-sidebar-title {
			margin-left: 1rem;
			margin-right: 1rem;
			font-weight: $font-weight-semi-bold;
		}
		
		.page-sidebar-toggle {
			flex-grow: unset !important;
			position: absolute;
			right: 1.75rem;
			
			@include media('<=small') {
				right: 1.125rem
			}

			.page-actions {
				.page-action-entry {
					padding: 0.25rem;
				}
				
				.page-action-entry span div {
					display: inline-block;
					position: relative;
					z-index: 1;
					user-select: none;
					vertical-align: middle;
					margin: 0;
					span {
						background: $color-accent-base;
						display: block;
						width: 18px;
						height: 2px;
						margin-bottom: 3px;
						position: relative;
						z-index: 1;
					}
					span:nth-child(3) {
						width: 12px;
					}
				}
			}
		}
	}
	
	/// 1B. PAGE-SIDEBAR-NAV
	.page-sidebar-nav {
		height: calc(100vh - 80px);
		flex-basis: auto !important;
		
		@include media('<=small') {
			height: calc(100vh - 60px);
		}
		
		.page-actions, .page-actions.vertical-menu {
			.page-action {
				+.page-action {
					margin-left: 0;
				}
				@include media('<=small') {
					width: auto;
					flex: 1;
				}
			}
			li.page-action.has-children {
				
				ul.page-actions-child {
					padding-left: 2rem;

					.page-action-entry {
						white-space: nowrap;
					}
				}
			}
			.page-action-entry {
				padding: 1rem 1.75rem;
				display: flex;
				align-items: center;
				line-height: 1.2;

				@include media('<=small') {
					padding: 1rem;
				}
			
				.icon {
					line-height: 1.5;
					margin-right: 1rem;
					color: $color-accent-base;
					font-size: $font-size-base;
				}
			}
		}
	}

	/// 2. 	PAGE-MAIN-VIEW
	.page-main-view {
		margin-left: 260px;
		transition: margin-left .45s ease;
			
		@include media('<=small') {
			margin-left: 60px;
		}
		
		/// 2A.	PAGE-TOP-HEADER
		.page-top-header {
			min-height: 80px;
			height: 80px;
			border-bottom: 1px solid $color-neutral-light;
			position: fixed;
			top: 0;
			background: $color-general-white;
			right: 0;
			left: 260px;
			z-index: 10;
			transition: left .45s ease;
	
			@include media('<=small') {
				min-height: 60px;
				height: 60px;
				left: 60px;
			}
	
			.page-heading {
				font-size: $font-size-large;
				font-weight: $font-weight-semi-bold;
				display: flex;
				align-items: center;
	
				@include media('<=small') {
					font-size: $font-size-small;
				}
			}
			
			.page-nav {
				flex-grow: unset!important;
			}
			
			.page-language-switcher {
				display: flex;
				align-items: center;
			}
			
			.page-account-actions {
				flex-grow: unset !important;
				display: flex;
				align-items: center;
				margin-left: 2rem;
			}
		}
		
		/// 2B.	PAGE-CONTENT
		.page-content {
			height: 100%;
			padding-top: 6.5rem;
			padding-bottom: 3rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			width: 100%;
			background: $color-general-white;
			min-height: 100vh;
			flex-grow: unset !important;
			flex-basis: auto !important;
	
			@include media('<=small') {
				padding-top: 4.5rem;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
}

.skeleton-sidebar.sidebar-closed {
	/// 1.	PAGE-SIDEBAR
	.page-sidebar {
		width: 80px;
		max-width: 80px;

		@include media('<=small') {
			width: 60px;
			max-width: 60px;
		}
	
		.page-actions.page-actions-root .page-action-entry:not(.toggle) span:not(.icon),
		.page-sidebar-title,
		.page-sidebar-logo {
			opacity: 0;
			height: 0;
			width: 0;
			margin: 0;
			overflow: hidden;
		}
	}

	/// 1A. PAGE-SIDEBAR-HEADER
	.page-sidebar-header {
		left: 80px;

		@include media('<=small') {
			left: 60px;
		}
		
		.page-sidebar-logo {	
			@include media('<=small') {
				display: block;
			}
		}
		
		.page-sidebar-title {
			@include media('<=small') {
				display: block;
			}
		}
	}

	/// 1B. PAGE-SIDEBAR-NAV
	.page-sidebar-nav {
		.page-actions, .page-actions.vertical-menu {
			.page-action-entry {
				.icon {
					margin-right: 0;
				}
			}
			
			li.page-action.has-children {
				&:after {
					display: none;
				}
			
				ul.page-actions-child {
					position: absolute;
					left: 100%;
				    top: 0.5rem;
				    padding: 0;
				    background: $color-neutral-lightest;
				    z-index: 5;
				    min-width: 180px;
				    
				    .page-action-entry {
					    display: block;
					    padding: 1rem 1.5rem;
					}
				}
			}
		}
	}
	
	/// 2. 	PAGE-MAIN-VIEW
	.page-main-view {
		margin-left: 80px;

		@include media('<=small') {
			margin-left: 60px;
		}
	
		/// 2A.	PAGE-TOP-HEADER
		.page-top-header {
			left: 80px;
			
			@include media('<=small') {
				left: 60px;
			}
		}	
	}
}

// RESET FOR EDIT VIEW
body[has-sidebar-right="true"] {
	.skeleton-sidebar {
		.page-sidebar {
			width: 80px;
			max-width: 80px;
			position: relative;
		}
		
		.page-main-view {
			margin-left: 0;
		}
	}
}
